{% extends "base.html" %}
{% import "macros.html" as macro %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    {{ super() }}
    Bienvenido
{% endblock %}

{% block content %}

{% if username %}
    <h1>Bienvenido {{username | capitalize }}</h1>
{% else %}
    <a href="/auth/login"><button>Login</button></a>
{%endif%}

{% if user_ip %}
    <h3>Tu ip es {{user_ip}}</h3>
{% else %}
    <a href="/home"><button>Home</button></a>
{%endif%}



<ul">
    
{% for todo in todos %}
    {{ macro.render_todo(todo) }}
{% endfor %}

</ul>

{{ super() }}
{% endblock content %}